@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: #fff;
    --color-bg-secondary: #fffaec;
    --color-bg-tertiary: #ffefe0;
    --color-bg-quaternary: #1c5128;
    --color-bg-quinternary: #fff0c7;
    --color-text-primary: #222;
    --color-text-secondary: #fff;
    --color-text-tertiary: #5f0d61;
    --color-gray: #e3e3e3;
  }
}
